/* Reset start */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #212121;
	font: 400 14px/1 'Roboto', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
/* Reset end */

/* default classes start */

.d-flex {
	display: flex;
}
.flex-w-w{
	flex-wrap: wrap;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{
	align-items: center;
}
.standart-section{
	padding: 80px 0;
}
.text-center{
	text-align: center;
}
.text-r{
	text-align: right;
}
/* default classes end */

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.section-title {
	font-weight: 900;
	margin-bottom: 75px;
	font-size: 30px;
}
.tta{
	text-transform: uppercase;
}
#header {
	padding: 20px 0;
	border-bottom: 2px solid #00e9ba;
	background-color: #fff;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.header_nav{
	font-size: 16px;
	font-weight: 700;
}
.nav-list {
	display: flex;
}
.nav-list li{
	text-transform: capitalize;
}
.nav-list li+li {
	margin-left: 30px;
}
.nav-list li:hover{
	color: #00e9ba;
}
.row {
	margin: 0 -15px;
}
.col-4 {
	width: 33.3333%;
	padding: 0 15px;
}
.cours-item {
	background-color: #fff;
	box-shadow: 0 13px 27px  rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
}
.cours-item .course-img {
	display: block;
	margin-bottom: 20px;
}
.cours-item .course-title {
	font-size: 21px;
	font-weight: 700;
	padding-bottom: 20px;
}
.cours-item .cource-price {
	font-size: 30px;
	font-weight: 700;
	color: #00e9ba;
}
.course-date{
	width: 100px;
	height: 100px;
	background-color: #fdd835;
	font-size: 16px;
	border-radius: 50%;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: -50px;
	right: 20px;
}
.course-date span{
	display: block;
}
.start {

}
.date-start {
}

